

.about-site {
  font-size: 16px;
  color: black;
  margin-top: -50px;
}

.about-site {
  text-align: center;
  padding: 20px;
}

.about-site h2 {
  font-size: 24px;

}

.about-site p {
  font-size: 16px;
 
}
.about-site {
  text-align: center;
  padding: 20px;
  color: #fff;
  background-image: url("/theme/About-background.jpg");
hight:100
  background-size: cover;
  background-position: center;

}